# Корневой файл для docker-compose.prod.yml
POSTGRES_USER=kolos
POSTGRES_PASSWORD=change-me-strong-password
POSTGRES_DB=kolos_lms
BACKEND_PORT=8001
FRONTEND_PORT=3001
NEXT_PUBLIC_API_URL=https://api.kolos-academy.ru/api/v1
